:root {
  --max-width: 1180px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --basic-text-color: rgba(3, 37, 70, 0.925);
  
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #fbfbf5;
}
.container{
  max-width: var(--max-width);
margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768) {
  html, body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }
}

