.main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  overflow: hidden ;
  /* padding: 2rem; */
  /* min-height: 100vh; */
}

.logo {
  position: relative;
}

.image-hover {
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.image-hover:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.grid{
  display: flex;
  flex-direction: column;


}
@media (max-width: 768px) {
  .main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    text-align: center;
    padding: 10px; 
    
  }
 
  .content {
    padding: 10px;
  } 
}